@charset "UTF-8";

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 100;

}

header{
    display: flex;
    background-color: #007BFF;
    color: white;
    justify-content:space-between;
    align-items: center;
    height: 70px;
}
.log{
    
    flex:0 1 200px;
 display: flex;
 justify-content: end;
}



ul{
    display: flex;
    gap: 20px;
    margin-right: 110px;
}

main{
  
    width: 70vw;
 

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
background-color: brown;
    margin: auto;

}
main select, input,button{
    border: 1px solid rgba(0, 0, 0, 0.404);
}
main select:focus, input:focus ,button:focus{
outline: none;
border: 1px solid  #007bffcc;
box-shadow: 0 0 5px #007bffc2;

}
.titulo{
    
    margin: 50px 0;
    font-size: 1.5rem;
    font-weight: 100;
    width: 100%;
  
}
.tipo input{
    width: 100px;
    height:40px;
  
}
input, select{
      margin: 0 10px;
}
select{

 width: 100px;
    height:40px;
}
#tipo{
    width: 250px;
    height:40px;
}
#descriçao{
    width: 400px;
}
.descriçao input{

    height:40px;
    gap: 20px;
}
.tipo, .descriçao{
    width: 100%;
    align-self: center;
}
button{
    padding: 10px;
    margin: 0 18px;
}

