*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
list-style-type: none;
}


header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-color: lightskyblue;
    box-shadow: 0 0 5px black;
    padding: 20px;

    ul{
        display: flex;
        gap: 20px;
        li{
            background-color: blue;
            padding: 10px;
            cursor: pointer;
            color: #fff;
        }
    }
}
main{
    
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    background-color: aliceblue;
    box-shadow: 0 0 5px black;
    padding: 20px;
  
    section{
    margin: 20px;
    h1{
        margin-bottom: 20px;
    }
    }
}
div{
    text-align: center;
    display: flex;
    flex-direction: column;
   input{
    margin-bottom: 10px;
   }
 
}
label{
    text-align: start;
    width: 300px;
    margin: auto;

}
input{
    width: 300px;
    margin: auto;
}

  
button{
   
    width: 80px;
    padding: 10px;
    margin: auto;
    position: relative;
    left: 111px;
    cursor: pointer;
    background-color: #48d800;
    border: none;
    


}
table{
    margin-top: 70px;
    width: 100%;
    
    align-content: space-evenly;
    
    text-align: center;
    border-collapse: collapse;
  
}
td,th{
    text-align: start;
    padding: 10px;
    
    border-bottom: 1px solid black;
    
 
}
.start{
    text-align: start;
}
.center{
    text-align: center;
}
.end{
    text-align: end;
}