*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #0B5ED7;
}
main{
   margin: auto;
    width:300px;
    height:500px;
     border-radius: 12PX;
     display: flex;
     flex-direction: column;
    align-items: center;
    background-color:#fff;
    
  

}
.conteiner_pesquisa{
    margin-top: 10PX;
   
    display: flex;
    gap: 0;
height: 40px;
    input{
    border: 1px solid #333;
  padding: 10px;
  outline: none;
 border-right: none;
 border-left: none;
  border-radius: 0px 0 0 px;
}

button{
    border: 1px solid black;
    border-left: none;
     border-radius: 0 8px 8px 0;
     padding: 5px;
}
.icon_local{
    color: #0B5ED7;
    font-size: 20px;
    text-align: center;
    
   border-radius: 8px 0 0 8px;
    border: solid 1px black;
    border-right: none;
}
}
.info_temp{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    background-color:  #0B5ED7;
    padding: 5px;
    width: 90%;
    color: #fff;
    font-size: larger;
    font-weight: 900;
    border-radius: 12px;
}